/*

!/.github
!/cmake
!/include
!/lib
!/src

!/.clang-format
!/.clang-tidy
!/.clangd
!/.codespellrc
!/.gitignore
!/BUILDING.md
!/CMakeLists.txt
!/CMakePresets.json
!/CMakeUserPresets.json
!/HACKING.md
!/LICENSE
!/README.md
